body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#game-area {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

#game-screen {
    display: block;
    width: 854px;
    height: 480px;
    align-self: center;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.side-column-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    /* width: calc((100vh - 480px)/2); */
    width: calc((100vw - 854px)/2);
    z-index: 500;
    background-color: palevioletred;
}

.side-column-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    /* width: calc((100vh - 480px)/2); */
    width: calc((100vw - 854px)/2);
    z-index: 501;
    background-color: palevioletred;
}

.side-column-top {
    position: absolute;
    top: 0;
    right: 0;
    height: calc((100vh - 480px)/2);
    width: 100vw;
    z-index: 499;
    background-color: palevioletred;
}

.side-column-bottom {
    position: absolute;
    top: calc(480px + (100vh - 480px)/2);
    left: 0;
    height: calc((100vh - 480px)/2);
    width: 100vw;
    z-index: 498;
    background-color: palevioletred;
}



/* .our-bg {
    border: 10px black solid;
} */

.center-flex {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#start-screen {
    display: block;
    width: 100%;
    height: 100%;
    background-color: bisque;
}

#murder-screen {
    display: none;
    /* overflow: hidden; */
    /* position: fixed; */
    width: 100%;
    height: 100%;
}

#credit-screen {
    display: none;
    width: 100%;
    height: 100%;
    background-color: pink;
}

#story-screen {
    display: none;
    width: 100%;
    height: 100%;
    background-color: mediumturquoise;
}

#tausta, #taustin, #taustempi {
    position: absolute;
    top: calc((100vh - 480px)/2);
    left: calc((100vw - 854px)/2);
}

#tausta {
    z-index: 100;
}

#taustempi {
    z-index: -200;
}

#taustin {
    z-index: 2;
}

#roskis:hover, #ruumis:hover, #roskis-kansi:hover, #lammikko:hover, #saha:hover, #paloiteltu-ruumis:hover {
    background-color: blueviolet;
}

/* #roskisplacement {
    position: absolute;
    top: calc((100vh - 480px)/2 + (480px - 220px));
    left: calc((100vw - 854px)/2 + (854px - 250px));
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr;
} */

#lammikko {
  position: absolute;
    top: calc((100vh - 480px)/2 + (480px - 332px));
    left: calc((100vw - 854px)/2 + (854px - 544px));
    z-index: 200;
}

#saha {
  position: absolute;
    top: calc((100vh - 480px)/2 + (480px - 150px));
    left: calc((100vw - 854px)/2 + (854px - 420px));
    z-index: 201;
}

#roskis-kansi {
    position: absolute;
    top: calc((100vh - 480px)/2 + (480px - 220px));
    left: calc((100vw - 854px)/2 + (854px - 250px));
    z-index: 5;
}

#roskis {
    position: absolute;
    top: calc((100vh - 480px)/2 + (480px - 200px));
    left: calc((100vw - 854px)/2 + (854px - 250px));
    z-index: 3;
}

#ruumisplacement {
    position: absolute;
    top: calc((100vh - 480px)/2 + (480px - 280px));
    left: calc((100vw - 854px)/2 + (854px - 600px));
    z-index: 10;
    display: block;
}

#paloiteltu-ruumis {
    position: absolute;
    top: calc((100vh - 480px)/2 + (480px - 260px));
    left: calc((100vw - 854px)/2 + (854px - 700px));
    z-index: 700;
    display: none;
}



/* #paa {
    position: absolute;
    top: calc((100vh - 480px)/2 + (480px - 280px));
    left: calc((100vw - 854px)/2 + (854px - 380px));
    z-index: 900;
}

#jalkaetu {
    position: absolute;
    top: calc((100vh - 480px)/2 + (480px - 230px));
    left: calc((100vw - 854px)/2 + (854px - 600px));
    z-index: 902;
} */

.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}


#mouseScreen {
    width: 854px;
    height: 480px;
}

#mouseStats {
    position: absolute;
    top: calc((100vh - 480px)/2);
    left: 100px;
    background-color: whitesmoke;
    display: block;
    padding: 1rem;
    font-size: 20px;
    width: 150px;
    z-index: 600;
}


#thinking-aloud {
    display: none;
    position: absolute;
    top: calc((100vh - 480px)/2 + 100px);
    left: 40%;
    background-color: whitesmoke;
    color: red;
    padding: 1rem;
    font-size: 32px;
    font-family: cursive;
    z-index: 700;
}

#start-again-button {
    display: none;
}
