body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#game-area {
    width: 100vw;
    height: 100vh;
}

#game-screen {
    display: block;
    width: 854px;
    height: 480px;
    align-self: center;
}

/* .our-bg {
    border: 10px black solid;
} */

.center-flex {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#start-screen {
    display: block;
    width: 100%;
    height: 100%;
    background-color: bisque;
}

#murder-screen {
    display: none;
}

#credit-screen {
    display: none;
    width: 100%;
    height: 100%;
    background-color: pink;
}

#tausta, #taustin, #taustempi {
    position: absolute;
    top: calc((100vh - 480px)/2);
    left: calc((100vw - 854px)/2);
}

#tausta {
    z-index: 100;
}

#taustempi {
    z-index: -200;
}

#taustin {
    z-index: -300;
}

#roskis:hover, #ruumis:hover, #roskis-kansi:hover {
    background-color: blueviolet;
}

#roskisplacement {
    position: absolute;
    top: calc((100vh - 480px)/2 + (480px - 220px));
    left: calc((100vw - 854px)/2 + (854px - 250px));
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr;
}

#ruumisplacement {
    position: absolute;
    top: calc((100vh - 480px)/2 + (480px - 280px));
    left: calc((100vw - 854px)/2 + (854px - 600px));
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
}

.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}


#mouseScreen {
    width: 854px;
    height: 480px;
}

#mouseStats {
    position: absolute;
    top: calc((100vh - 480px)/2);
    left: 100px;
    background-color: whitesmoke;
    display: block;
    padding: 1rem;
    font-size: 20px;
    width: 150px;
}

